{% extends "base.html" %}

{% block extra_head_content  %}
{% endblock %}

{% block content %}
    
    <h1>Blogz</h1>

    <ul>
        {% for blog in blogs %}
        <li style="list-style-type: none;">
            <a href = "/entry?blog={{blog.id}}"><h2>{{blog.title}}</h2></a>
            <br>
            {{blog.body}}
            <a href = "/blog?user={{blog.owner.id}}"><p class="tagline">Written By: {{blog.owner.username}}</p></a>
            <hr/>
        </li>
        {% endfor %}
    </ul>

{% endblock %}